### Goldsmiths University of London
### Author....: Carlos Manuel de Oliveira Alves
### Student...: cdeol003
### Created...: 26/01/2023
### FYP.......: NeuroCredit

In [3]:
# Import pandas library
import pandas as pd

In [4]:
# Import random to generate random data
import random

In [11]:
# Declare a list to store the data
data = []

# Generate 1.000 random records
for i in range(1000):

    # Credit history
    credit_history_list = ["Excellent", "Good", "Fair", "Poor"]
    credit_history = random.choice(credit_history_list)

    # Income and employment information
    income = random.randint(10000, 100000)
    employment_status_list = ["Employed", "Self-Employed", "Unemployed"]
    employment_status = random.choice(employment_status_list)

    # Collateral information and assets value
    collateral_list = ["House", "Car", "None", "Other", "Land", "Investment"]
    collateral = random.choice(collateral_list)
    assets_value = random.randint(10000, 100000)

    # Debt-to-income ratio
    debt_to_income_ratio = random.randint(0, 100)

    # Payment history
    payment_history_list = ["Excellent", "Good", "Fair", "Poor"]
    payment_history = random.choice(payment_history_list)

    # Length of credit history
    length_of_credit_history = random.randint(0, 100)

    # Number of credit inquiries
    number_of_credit_inquiries = random.randint(0, 5)

    # Number of credit accounts
    number_of_credit_accounts = random.randint(0, 5)

    # Number of credit accounts opened in the last 12 months
    number_of_credit_accounts_opened_last_12_months = random.randint(0, 5)

    # Type of credit accounts
    type_of_credit_accounts_list = ["Mortgage", "Auto", "Student", "Personal", "Other"]
    type_of_credit_accounts = random.choice(type_of_credit_accounts_list)

    # Current balance of credit accounts
    current_balance_of_credit_accounts = random.randint(0, 100000)

    # Total credit limit
    total_credit_limit = random.randint(0, 100000)

    # Total credit utilization
    total_credit_utilization = random.randint(0, 100)

    # Public records and collections
    public_records_and_collections_list = ["None", "Bankruptcy", "Tax Lien", "Judgement", "Other", "Collection"]
    public_records_and_collections = random.choice(public_records_and_collections_list)

    # Loan amount
    loan_amount = random.randint(1000, 100000)

    # Purpose of the loan
    purpose_of_loan_list = ["Debt Consolidation", "Home Improvement", "Business", "Car Financing", "Other"]
    purpose_of_loan = random.choice(purpose_of_loan_list)

    # Saving account balance
    saving_account_balance = random.randint(0, 100000)

    # Append the data to the list
    data.append({
        "credit_history": credit_history,
        "income": income,
        "employment_status": employment_status,
        "collateral": collateral,
        "assets_value": assets_value,
        "debt_to_income_ratio": debt_to_income_ratio,
        "payment_history": payment_history,
        "length_of_credit_history": length_of_credit_history,
        "number_of_credit_inquiries": number_of_credit_inquiries,
        "number_of_credit_accounts": number_of_credit_accounts,
        "number_of_credit_accounts_opened_last_12_months": number_of_credit_accounts_opened_last_12_months,
        "type_of_credit_accounts": type_of_credit_accounts,
        "current_balance_of_credit_accounts": current_balance_of_credit_accounts,
        "total_credit_limit": total_credit_limit,
        "total_credit_utilization": total_credit_utilization,
        "public_records_and_collections": public_records_and_collections,
        "loan_amount": loan_amount,
        "purpose_of_loan": purpose_of_loan
    })

# Create a dataframe from the list
df = pd.DataFrame(data)

# Save the dataframe to a csv file
df.to_csv("data.csv", index=False)

In [12]:
# Print the first 5 rows of the dataframe as columns for better readability
df.head().T

,0,1,2,3,4
credit_history,Poor,Good,Excellent,Good,Excellent
income,79283,98929,55310,33204,54340
employment_status,Employed,Unemployed,Unemployed,Unemployed,Employed
collateral,Other,Land,Land,None,Investment
assets_value,22452,65005,17276,58525,75409
debt_to_income_ratio,80,78,41,44,69
payment_history,Poor,Excellent,Poor,Fair,Excellent
length_of_credit_history,69,94,88,97,33
number_of_credit_inquiries,3,4,0,4,2
number_of_credit_accounts,4,1,2,5,5
number_of_credit_accounts_opened_last_12_months,5,5,3,4,3
type_of_credit_accounts,Mortgage,Auto,Other,Personal,Other
current_balance_of_credit_accounts,74143,41335,80611,21831,10710
total_credit_limit,56446,76351,34961,58123,82806
total_credit_utilization,16,89,32,61,64
public_records_and_collections,Bankruptcy,Collection,Tax Lien,Collection,None