### Goldsmiths University of London
### Author....: Carlos Manuel de Oliveira Alves
### Student...: cdeol003
### Created...: 26/01/2023
### FYP.......: NeuroCredit

In [87]:
# Import pandas library
import pandas as pd

In [88]:
# Import random to generate random data
import random

In [105]:
# Import os to create a directory
import os

In [97]:
# Declare a list to store the data
data = []

# Generate 1.000 random records
for i in range(1000):

    # Credit history
    credit_history_list = ["Excellent", "Good", "Fair", "Poor"]
    credit_history = random.choice(credit_history_list)

    # Income and employment information
    income = random.randint(10000, 50000)
    employment_status_list = ["Employed", "Self-Employed", "Unemployed"]
    employment_status = random.choice(employment_status_list)

    # Collateral information and assets value
    collateral_list = ["House", "Car", "None", "Other", "Land", "Investment"]
    collateral = random.choice(collateral_list)
    assets_value = random.randint(10000, 50000)

    # Debt-to-income ratio
    debt_to_income_ratio = random.randint(0, 100)

    # Payment history
    payment_history_list = ["Excellent", "Good", "Fair", "Poor"]
    payment_history = random.choice(payment_history_list)

    # Length of credit history
    length_of_credit_history = random.randint(0, 100)

    # Number of credit inquiries
    number_of_credit_inquiries = random.randint(0, 5)

    # Number of credit accounts
    number_of_credit_accounts = random.randint(0, 5)

    # Number of credit accounts opened in the last 12 months
    number_of_credit_accounts_opened_last_12_months = random.randint(0, 5)

    # Type of credit accounts
    type_of_credit_accounts_list = ["Mortgage", "Auto", "Student", "Personal", "Other"]
    type_of_credit_accounts = random.choice(type_of_credit_accounts_list)

    # Current balance of credit accounts
    current_balance_of_credit_accounts = random.randint(0, 20000)

    # Total credit limit
    total_credit_limit = random.randint(0, 20000)

    # Total credit utilization
    total_credit_utilization = random.randint(0, 100)

    # Public records and collections
    public_records_and_collections_list = ["None", "Bankruptcy", "Tax Lien", "Judgement", "Other", "Collection"]
    public_records_and_collections = random.choice(public_records_and_collections_list)

    # Loan amount
    loan_amount = random.randint(1000, 5000)

    # Purpose of the loan
    purpose_of_loan_list = ["Debt Consolidation", "Home Improvement", "Business", "Car Financing", "Other"]
    purpose_of_loan = random.choice(purpose_of_loan_list)

    # Saving account balance
    saving_account_balance = random.randint(0, 20000)

    # >> Approval status:
    # 1. If credit history is excellent, then the loan is approved
    # 2. If credit history is good, then the loan is approved if the income is greater than 25,000 or the assets value 
    #    is greater than 20,000
    # 3. If credit history is fair, then the loan is approved if the debt-to-income ratio is less than 0.3 and the payment 
    #    history is good
    # 4. If credit history is poor, then the loan is approved if the length of credit history is greater than 10, the number 
    #    of credit inquiries is less than 6, the number of credit accounts is greater than 8, the number of credit accounts 
    #    opened in the last 12 months is less than 2, the type of credit accounts is good,
    #    and the current balance of credit accounts is less than 30,000
    # 5. If credit history is unknown, then the loan is approved if the total credit limit is greater than 50,000 and the 
    #    total credit utilization is less than 0.3

    # Create a function to apply the credit approval rules
    def credit_approval(credit_history, income, employment_status, collateral, assets_value, debt_to_income_ratio, 
                        payment_history, length_of_credit_history, number_of_credit_inquiries, number_of_credit_accounts, 
                        number_of_credit_accounts_opened_last_12_months, type_of_credit_accounts, 
                        current_balance_of_credit_accounts, total_credit_limit, total_credit_utilization, 
                        public_records_and_collections, loan_amount, purpose_of_loan, saving_account_balance):
        
        # Initialize the approval status
        approval_status = "Unknown"

        # Set the percentage chance of approval
        approval_chance = 70 

        # Create the rules for credit approval using appropriate logic and with percentage chance of approval
        if credit_history == "Good":

            # Check if the income is greater than 25,000
            if income >= 25000:

                # Check if the employment status is employed or self-employed
                if employment_status == "Employed" or employment_status == "Self-Employed":

                    # Create random percentage chance of approval
                    if random.randint(0, 100) < approval_chance:
                        approval_status = "Approved"

                    else:
                        approval_status = "Rejected"

                # Check the debt-to-income ratio and payment history
                elif debt_to_income_ratio < 0.3 and payment_history == "Good":

                    # Create random percentage chance of approval
                    if random.randint(0, 100) < approval_chance:
                        approval_status = "Approved"
                    else:
                        approval_status = "Rejected"
                        
                else:
                    approval_status = "Rejected"

            # Check if the assets value is greater than 20,000
            else:
                if assets_value >= 20000:

                    # Create random percentage chance of approval
                    if random.randint(0, 100) < approval_chance:
                        approval_status = "Approved"
                    else:
                        approval_status = "Rejected"

                else:
                    approval_status = "Rejected"

        # Check if the credit history is bad
        elif credit_history == "Bad":

            # Check if the length of credit history is greater than 10, the number of credit inquiries is less than 6,
            # the number of credit accounts is greater than 8, the number of credit accounts opened in the last 12 
            # months is less than 2, the type of credit accounts is good, and the current balance of credit accounts 
            # is less than 30,000 and the total credit limit is greater than 50,000 and the total credit utilization 
            # is less than 0.3 and total credit utilization is less than 60% and the public records and collections 
            # is none
            if (length_of_credit_history >= 10 
                and number_of_credit_inquiries < 6 
                and number_of_credit_accounts > 8 
                and number_of_credit_accounts_opened_last_12_months < 2 
                and type_of_credit_accounts == "Good" 
                and current_balance_of_credit_accounts < 30000 
                and total_credit_limit > 50000 
                and total_credit_utilization < 60
                and public_records_and_collections == "None"):

                # Create random percentage chance of approval
                if random.randint(0, 100) < approval_chance:
                    approval_status = "Approved"
                else:
                    approval_status = "Rejected"

            else:
                approval_status = "Rejected"
                
        else:
            approval_status = "Rejected"

        # Check if the loan amount is less than the saving account balance
        if approval_status == "Approved":
            if saving_account_balance > loan_amount:
                approval_status = "Approved"
            else:
                approval_status = "Rejected"

        # Return the approval status
        return approval_status

    # Append the data to the list
    data.append({
        "credit_history": credit_history,
        "income": income,
        "employment_status": employment_status,
        "collateral": collateral,
        "assets_value": assets_value,
        "debt_to_income_ratio": debt_to_income_ratio,
        "payment_history": payment_history,
        "length_of_credit_history": length_of_credit_history,
        "number_of_credit_inquiries": number_of_credit_inquiries,
        "number_of_credit_accounts": number_of_credit_accounts,
        "number_of_credit_accounts_opened_last_12_months": number_of_credit_accounts_opened_last_12_months,
        "type_of_credit_accounts": type_of_credit_accounts,
        "current_balance_of_credit_accounts": current_balance_of_credit_accounts,
        "total_credit_limit": total_credit_limit,
        "total_credit_utilization": total_credit_utilization,
        "public_records_and_collections": public_records_and_collections,
        "loan_amount": loan_amount,
        "purpose_of_loan": purpose_of_loan,
        "saving_account_balance": saving_account_balance,
        "approval_status": credit_approval(credit_history, income, employment_status, collateral, 
                                            assets_value, debt_to_income_ratio, payment_history, length_of_credit_history,
                                            number_of_credit_inquiries, number_of_credit_accounts, 
                                            number_of_credit_accounts_opened_last_12_months, type_of_credit_accounts,
                                            current_balance_of_credit_accounts, total_credit_limit, total_credit_utilization, 
                                            public_records_and_collections, loan_amount,
                                            purpose_of_loan, saving_account_balance)
    })

# Create a dataframe from the list
df = pd.DataFrame(data)

# Save the dataframe to a csv file
df.to_csv("data.csv", index=False)

In [98]:
# Print the first 5 rows of the dataframe as columns for better readability
df.head().T

,0,1,2,3,4
credit_history,Fair,Good,Good,Good,Excellent
income,34084,20938,20734,14186,46693
employment_status,Employed,Self-Employed,Employed,Unemployed,Unemployed
collateral,Land,Car,Land,Car,Land
assets_value,39837,33241,12926,16586,30771
debt_to_income_ratio,76,53,52,67,66
payment_history,Excellent,Poor,Excellent,Poor,Excellent
length_of_credit_history,84,59,84,92,39
number_of_credit_inquiries,5,3,1,5,1
number_of_credit_accounts,0,3,1,5,2
number_of_credit_accounts_opened_last_12_months,3,0,3,0,4
type_of_credit_accounts,Auto,Auto,Auto,Student,Mortgage
current_balance_of_credit_accounts,12377,1430,16049,4938,10459
total_credit_limit,6149,18922,1197,13206,4011
total_credit_utilization,80,33,57,92,50
public_records_and_collections,Judgement,Judgement,Other,Collection,Collection
loan_amount,4641,3592,1955,3652,2544
purpose_of_loan,Car Financing,Other,Other,Home Improvement,Home Improvement
saving_account_balance,3011,16448,6192,7279,7619
approval_status,Rejected,Approved,Rejected,Rejected,Rejected

In [99]:
# Print the number of approved and rejected loans
df["approval_status"].value_counts()

Rejected    883
Approved    117
Name: approval_status, dtype: int64

In [101]:
# Print the first 5 rows with approved loans
df[df["approval_status"] == "Approved"].head(5).T

,1,11,12,20,32
credit_history,Good,Good,Good,Good,Good
income,20938,25617,44562,40366,13241
employment_status,Self-Employed,Employed,Self-Employed,Employed,Unemployed
collateral,Car,House,House,Car,Other
assets_value,33241,38578,22131,27594,39583
debt_to_income_ratio,53,80,80,26,78
payment_history,Poor,Fair,Fair,Excellent,Excellent
length_of_credit_history,59,99,28,99,20
number_of_credit_inquiries,3,4,4,0,5
number_of_credit_accounts,3,4,3,2,1
number_of_credit_accounts_opened_last_12_months,0,2,1,4,3
type_of_credit_accounts,Auto,Personal,Personal,Student,Mortgage
current_balance_of_credit_accounts,1430,10587,14868,9186,19917
total_credit_limit,18922,12446,15868,13843,16630
total_credit_utilization,33,83,9,30,85
public_records_and_collections,Judgement,Judgement,Collection,Tax Lien,Judgement
loan_amount,3592,4960,1771,2493,3233
purpose_of_loan,Other,Business,Other,Debt Consolidation,Business
saving_account_balance,16448,19807,9991,9437,19199
approval_status,Approved,Approved,Approved,Approved,Approved

In [102]:
# Print the info of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 20 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   credit_history                                   1000 non-null   object
 1   income                                           1000 non-null   int64
 2   employment_status                                1000 non-null   object
 3   collateral                                       1000 non-null   object
 4   assets_value                                     1000 non-null   int64
 5   debt_to_income_ratio                             1000 non-null   int64
 6   payment_history                                  1000 non-null   object
 7   length_of_credit_history                         1000 non-null   int64
 8   number_of_credit_inquiries                       1000 non-null   int64
 9   number_of_credit_accounts                        1000 non-null   int64
 10  number_of_credit_accounts_opened_last_12_months  1000 non-null   int64
 11  type_of_credit_accounts                          1000 non-null   object
 12  current_balance_of_credit_accounts               1000 non-null   int64
 13  total_credit_limit                               1000 non-null   int64
 14  total_credit_utilization                         1000 non-null   int64
 15  public_records_and_collections                   1000 non-null   object
 16  loan_amount                                      1000 non-null   int64
 17  purpose_of_loan                                  1000 non-null   object
 18  saving_account_balance                           1000 non-null   int64
 19  approval_status                                  1000 non-null   object
dtypes: int64(12), object(8)
memory usage: 156.4+ KB

In [104]:
# Describe statistics of the numerical columns 
df.describe().T

,count,mean,std,min,25%,50%,75%,max
income,1000.0,30062.942,11527.868378,10016.0,20334.00,29796.0,40191.50,49924.0
assets_value,1000.0,30155.186,11584.740711,10012.0,20245.00,30504.0,40148.75,49963.0
debt_to_income_ratio,1000.0,49.601,29.335821,0.0,24.00,50.0,75.00,100.0
length_of_credit_history,1000.0,51.433,29.921645,0.0,26.00,52.0,79.00,100.0
number_of_credit_inquiries,1000.0,2.394,1.686893,0.0,1.00,2.0,4.00,5.0
number_of_credit_accounts,1000.0,2.552,1.729244,0.0,1.00,3.0,4.00,5.0
number_of_credit_accounts_opened_last_12_months,1000.0,2.601,1.707253,0.0,1.00,3.0,4.00,5.0
current_balance_of_credit_accounts,1000.0,9908.143,5701.409131,32.0,4745.00,9943.5,14791.25,19987.0
total_credit_limit,1000.0,10235.451,5736.030772,10.0,5229.00,10741.5,15202.00,19999.0
total_credit_utilization,1000.0,49.940,29.684264,0.0,23.00,50.5,76.00,100.0
loan_amount,1000.0,3014.061,1163.485260,1004.0,2006.00,3023.5,4044.50,4993.0
saving_account_balance,1000.0,10011.894,5711.135216,15.0,5334.75,9915.0,14774.25,19999.0

In [106]:
# Where to save the figures
PROJECT_ROOT_DIR = "."
CHAPTER_ID = "end_to_end_project"
IMAGES_PATH = os.path.join(PROJECT_ROOT_DIR, "images", CHAPTER_ID)
os.makedirs(IMAGES_PATH, exist_ok=True)

In [ ]:
# To plot pretty figures
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rc('axes', labelsize=14)
mpl.rc('xtick', labelsize=12)
mpl.rc('ytick', labelsize=12)

In [ ]:
# Create a function top save the figures
def save_fig(fig_id, tight_layout=True, fig_extension="png", resolution=300):
    path = os.path.join(IMAGES_PATH, fig_id + "." + fig_extension)
    print("Saving figure", fig_id)
    if tight_layout:
        plt.tight_layout()
    plt.savefig(path, format=fig_extension, dpi=resolution)

In [ ]:
# Plot the histogram of the numerical columns of the dataframe
%matplotlib inline

# Import matplotlib for plotting
import matplotlib.pyplot as plt

# Plot the histogram of the numerical columns
df.hist(bins=50, figsize=(20,15))

# Save the figure
save_fig("attribute_histogram_plots")

# Show the plot
plt.show()